/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important




/* styles.css */
.code-group {
  display: flex;
  justify-content: flex-end; /* Esto alinea los elementos hacia la derecha */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}
